.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  backdrop-filter: blur(2px);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 79vw;
}
@media screen and (max-width: 768px) {
  .header {
    width: 10vw;
  }
  .header__left {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .header {
    width: 10vw;
  }
  .header__right {
    
  }
  .header__left {
    display: none;
  }
}
@media screen and (max-width : 1400px) {
  .header {
    width: 70vw;
  }
  .header__right {
    
  }
  .header__left {
    flex: 30vw;
  }
}

.header__right {
  display: flex;
  align-items: center;
}

.header__left {
  flex: 0.5;
  display: flex;
  padding: 10px;
  border-radius: 30px;
  align-items: center;
}

.header__left > input {
  border: none;
  width: 100%;
}

.header__right > h4 {
  margin-left: 10px;
}
